.btn-cuenta {
    background-color: rgb(186, 182, 182);
    font-size: 20px;
    width: 48px;
}

.fuente-brand {
    font-family: 'Grechen Fuemen', cursive;
    font-size: 30px;
    padding-left: 40px;
}

.inicio-container {
    padding: 10rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fila-carrito {
    height: 100px;
}

.footer {
    background-color: rgb(197, 48, 48);
    color: white;
    text-align: center;
    height: 40px;
    padding: 10px 0px 10px 0px ;
}

.footer p {
    padding-bottom: 10px;
    background-color: rgb(197, 48, 48) ;
}